*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4fdf4;
    color:#333;
    line-height:1.6;
}

/* HERO */

.hero{
    height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?w=1600");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    color:white;
}

.overlay{
    max-width:800px;
    padding:20px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:15px;
}

.hero p{
    font-size:1.2rem;
    margin-bottom:30px;
}

.btn{
    text-decoration:none;
    background:#2e8b57;
    color:white;
    padding:12px 25px;
    border-radius:8px;
    transition:0.3s;
}

.btn:hover{
    background:#1f6d43;
}

/* SEÇÕES */

.section{
    padding:70px 10%;
}

.section h2{
    text-align:center;
    margin-bottom:30px;
    color:#2e8b57;
}

/* SOBRE */

.content{
    display:flex;
    gap:30px;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}

.content img{
    width:350px;
    border-radius:15px;
}

.content p{
    max-width:500px;
}

/* BENEFÍCIOS */

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.card{
    width:250px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);

    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    margin-bottom:10px;
    color:#2e8b57;
}

/* SIMULADOR */

.simulator{
    text-align:center;
}

.simulator input{
    padding:10px;
    width:250px;
    margin:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

.simulator button{
    padding:10px 20px;
    background:#2e8b57;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

#resultado{
    margin-top:20px;
    font-weight:bold;
}

/* QUIZ */

.quiz{
    text-align:center;
}

.quiz-buttons{
    margin-top:20px;
}

.quiz button{
    margin:5px;
    padding:10px 15px;
    border:none;
    background:#2e8b57;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

/* CURIOSIDADES */

.curiosity-box{
    background:white;
    padding:30px;
    border-radius:15px;
    max-width:700px;
    margin:auto;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.curiosity-box button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:#2e8b57;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

/* FOOTER */

footer{
    background:#1f6d43;
    color:white;
    text-align:center;
    padding:30px;
}

/* RESPONSIVO */

@media(max-width:768px){

    .hero h1{
        font-size:2.2rem;
    }

    .content{
        flex-direction:column;
    }

    .content img{
        width:100%;
    }

    .card{
        width:100%;
        max-width:300px;
    }
}
